<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "base.html" %}

    {% block content %}
    <h2>This is my contact page</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur cupiditate, distinctio esse veritatis amet quas quisquam, optio, quae animi autem atque voluptates neque odio deserunt aut provident asperiores officia natus!
    Dolorum temporibus praesentium perferendis eligendi ratione cumque mollitia rem, enim quod! Nemo velit consequatur natus dicta ipsam quaerat impedit recusandae amet. Recusandae ratione sapiente iusto repellat sed quia neque iste.
    Hic eveniet quibusdam inventore atque laudantium magnam voluptatibus ex doloremque facere repellendus deleniti aliquam earum maxime eligendi nihil molestias aspernatur omnis, suscipit unde cum sunt. Similique dignissimos tenetur earum facilis?</p>

    {% endblock %}

</body>
</html>